<form>
  <div *ngFor="let source of sources$ | async">
    <input type="radio" [id]="source.name" [value]="source.id" name="source" [formControl]="form.get('source')" />
    <label [for]="source.name">{{ source.name }}</label>
  </div>
</form>

<hr />

<ng-container *ngFor="let article of articles$ | async">
  <img [src]="article.imageSrc"><br>
  <a [href]="article.link" target="_blank">{{ article.title }}</a>
  <p>{{ article.author }}</p>
  <p>{{ article.date | date }}</p>
  <p>{{ article.excerpt }}</p>
</ng-container>
